CentralServiceCore/Service References/WebTrackerClientsService/ClientsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackerServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackerServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
</xs:schema>