CentralServiceCore/Service References/WebTrackerClientsService/ClientsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://yatta.fiit.stuba.sk/WebTracker/ClientsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackerServices" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="RegisterClientResult" nillable="true" type="q1:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>