PhoneApp/Service References/PhoneAppCentralService/PhoneAppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthenticatedUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticatedUser" nillable="true" type="tns:AuthenticatedUser" />
  <xs:complexType name="WebsiteContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebsiteContent" nillable="true" type="tns:WebsiteContent" />
  <xs:complexType name="AuthenticateUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateUserRequest" nillable="true" type="tns:AuthenticateUserRequest" />
  <xs:complexType name="AuthenticateUserResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cookie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateUserResult" nillable="true" type="tns:AuthenticateUserResult" />
</xs:schema>