PhoneApp/Service References/PhoneAppCentralService/PhoneAppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8451/v3/PhoneAppService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGroupReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupReport" nillable="true" type="tns:GroupReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupReport" nillable="true" type="tns:ArrayOfGroupReport" />
  <xs:complexType name="GroupReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupReport" nillable="true" type="tns:GroupReport" />
  <xs:complexType name="ArrayOfGroupRecommendationReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupRecommendationReport" nillable="true" type="tns:GroupRecommendationReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupRecommendationReport" nillable="true" type="tns:ArrayOfGroupRecommendationReport" />
  <xs:complexType name="GroupRecommendationReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsoluteUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupRecommendationReport" nillable="true" type="tns:GroupRecommendationReport" />
  <xs:complexType name="ArrayOfServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerInfo" nillable="true" type="tns:ServerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerInfo" nillable="true" type="tns:ArrayOfServerInfo" />
  <xs:complexType name="ServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInfo" nillable="true" type="tns:ServerInfo" />
</xs:schema>