CentralServiceCore/Service References/WebTrackerTrackingService/TrackingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://yatta.fiit.stuba.sk/WebTracker/TrackingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackerServices" />
  <xs:import schemaLocation="http://yatta.fiit.stuba.sk/WebTracker/TrackingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TrackNewWebsite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="tracking" nillable="true" type="q1:TrackingType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q2:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackNewWebsiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="TrackNewWebsiteResult" nillable="true" type="q3:TrackingResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTrackings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q4:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTrackingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="ListTrackingsResult" nillable="true" type="q5:ArrayOfTrackingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q6:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="ListAllUpdatesResult" nillable="true" type="q7:ArrayOfWebsiteUpdateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWebsiteUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q8:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListWebsiteUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="ListWebsiteUpdatesResult" nillable="true" type="q9:ArrayOfWebsiteUpdateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackWebsites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="urls" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q11:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackWebsitesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UntrackWebsites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="urls" nillable="true" type="q12:ArrayOfstring" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q13:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UntrackWebsitesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListChangedWebsites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:dateTime" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TrackerServices" minOccurs="0" name="client" nillable="true" type="q14:ClientType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListChangedWebsitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListChangedWebsitesResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>