CentralServiceCore/Service References/WebTrackerTrackingService/TrackingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackerServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackerServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TrackingType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingType" nillable="true" type="tns:TrackingType" />
  <xs:complexType name="ClientType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:complexType name="TrackingResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingResponseType" nillable="true" type="tns:TrackingResponseType" />
  <xs:complexType name="ArrayOfTrackingType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingType" nillable="true" type="tns:TrackingType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingType" nillable="true" type="tns:ArrayOfTrackingType" />
  <xs:complexType name="ArrayOfWebsiteUpdateType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebsiteUpdateType" nillable="true" type="tns:WebsiteUpdateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebsiteUpdateType" nillable="true" type="tns:ArrayOfWebsiteUpdateType" />
  <xs:complexType name="WebsiteUpdateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangedContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateChanged" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebsiteUpdateType" nillable="true" type="tns:WebsiteUpdateType" />
</xs:schema>