WPFServer/Service References/LocalServerCentralService/LocalServerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8451/v3/LocalServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v2" />
  <xs:import schemaLocation="http://localhost:8451/v3/LocalServerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v3" />
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v2" minOccurs="0" name="info" nillable="true" type="q1:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v2" minOccurs="0" name="UpdateResult" nillable="true" type="q2:Updates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v3" minOccurs="0" name="reports" nillable="true" type="q3:ReportLog" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceEntities.CentralService.v2" minOccurs="0" name="info" nillable="true" type="q4:ServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>